<!DOCTYPE html>
<html>

<head>
    <title>Green Canopy</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>

    <div class="container">

        <div class="row " style="background-image: url('/static/gcover.jpeg');">
            <div class="col-md-10 p-4" style="color:white">
                <h1>Green Canopy </h1>
                <h5>Portal for forest cover of the regions/locations and track historical data</h5>
            </div>
            <div class="col-md-2">
                <a href="/"><img src="/static/greenearth.png" width="180px" /></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><button class="btn-default btn-primary" style="float:right"><a style="color:white;" href="/newmap">Add New Location</a></button> </div>
        </div>
        <div class="row">
            <div class="col-md-12  pt-5" style="background-color:lightgray;">
                <table id="locationtable" class="display table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Lattitude</th>
                            <th>Longitude</th>
                            <th>Zoom</th>
                            <th>Date</th>
                            <th>Forest Cover %</th>
                        </tr>
                    </thead>
                
                    <tbody>
                        {% for location in locations %}
                            <tr>
                                <td><a href="/map/{{location.id}}" >{{location.name}}</a></td>
                                <td>{{location.description}}</td>
                                <td>{{location.lat}}</td>
                                <td>{{location.lng}}</td>
                                <td>{{location.zoom}}</td>
                                <td>{{location.date}}</td>
                                <td>{{location.greencover}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</body>

</html>