<!DOCTYPE html>
<html>

<head>
  <title>Green Canopy</title>
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="/static/map.js"></script>
</head>

<body>

  <div class="container">
    <div class="row " style="background-image: url('/static/gcover.jpeg');">
      <div class="col-md-10 p-4" style="color:white">
        <h1>Green Canopy</h1>
        <h5>Portal for forest cover of the regions/locations and track historical data</h5>
      </div>
      <div class="col-md-2">
        <a href="/"><img src="/static/greenearth.png" width="180px" /></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8" id="map" style="float:left;margin:3px">
        <div></div>
      </div>
      <div class="col-md-4">

        <div class="row text-center" style="padding-top:10px;"> 
          <form action="/findcover" method="POST"> 
            <input id="locid" type="hidden" name="locid" value="{{ location.id }}">
            <input id="name" type="hidden" name="name" value="{{ location.id }}">
            <input id="lat" type="hidden" name="lat" value="{{ location.lat }}">
            <input id="lng" type="hidden" name="lng" value="{{ location.lng }}">
            <input id="zoom" type="hidden" name="zoom" value="{{ location.zoom }}">

            <table style="width:90%;margin-left:auto;margin-right:auto" class="table table-striped table-bordered">
              <thead>
              </thead>
              <tbody>
                <tr>
                  <td>Lattitude</td>
                  <td>
                    <div id="dltd" name="ltd" >{{location.lat}}</div>
                  </td>
                </tr>
                <tr>
                  <td>Longitude</td>
                  <td>
                    <div id="dlng" name="lng">{{location.lng}}</div>
                  </td>
                </tr>
                <tr>
                  <td>Zoom Factor</td>
                  <td>
                    <div id="zmf" name="zoom">{{location.zoom}}</div>
                  </td>
                </tr>
                <tr>
                  <td>Date</td>
                  <td>
                    <div id="fcover">{{location.date}}</div>
                  </td>
                </tr>
                <tr>
                  <td>Forest Cover</td>
                  <td>
                    <div id="fcover">{{location.greencover}}%</div>
                  </td>
                </tr>
                <tr>
                  <td>Forest Cover (SqKM)</td>
                  <td>
                    <div id="farea">{{location.greenarea}} / {{location.totalarea}}</div>
                  </td>
                </tr>

                <tr>
                  <td colspan="2">
                    <input id="latestcover" type="submit" value="Find Latest Green Cover">
                    
                    <!-- <button  type="submit" class=" btn-default btn-primary" onclick="findArea()">Find Latest Green Cover</button></td> -->
                </tr>
              </tbody>
            </table>
          </form>
        </div>

       

        <div class="row text-center" style="padding-top:60px;">
          <table>
            <tbody>
              <tr>
                <td><img src="/{{location.mapimage}}" style="width:90%"></td>
                <td><img src="/{{location.greyimage}}" style="width:90%"></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row text-center" style="padding-top:60px;">
          <h4>Historical Forest Cover</h4>
          <table style="width:90%;margin-left:auto;margin-right:auto" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Date</th>
                <th>Green Cover</th>
                <th>Area (SqKM)</th>
              </tr>
            </thead>
            <tbody>
 


              {% for record in history %}
              <tr>
                  <td>{{record.date}}</td>
                  <td>{{record.greencover}}%</td>
                  <td>{{record.greenarea}}</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>


  <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-UxaZpRBzxUXNvTyvw7OqEbSqKPjMHj4&callback=initMap&v=weekly"
    async></script>

</body>

</html>